<%= form_with(model: user_story, local: true) do |form| %>
  <% if user_story.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h4><%= pluralize(user_story.errors.count, "error") %> prohibited this user_story from being saved:</h4>

      <ul>
      <% user_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, id: :user_story_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :user_story_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :user_story_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :points %>
    <%= form.text_field :points, id: :user_story_points, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
