<h1>User Stories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Description</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_stories.each do |user_story| %>
      <tr>
        <td scope="row"><%= user_story.number %></td>
        <td><%= user_story.title %></td>
        <td><%= user_story.description %></td>
        <td><%= user_story.points %></td>
        <td><%= link_to 'Show', user_story %></td>
        <td><%= link_to 'Edit', edit_user_story_path(user_story) %></td>
        <td><%= link_to 'Destroy', user_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Story', new_user_story_path %>
